/*
 * Globals
 */

/*.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}
.flex-center {
  margin: auto;
}

.collapse-admin-sidebar {
  position: absolute;
  top: 0;
  right: -35px;
  z-index: 1;
  padding: 11px;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #e5e5e5;
  border-left: 0;
}



.collapse-admin-sidebar .glyphicon-chevron-right {
  display: none;
}

.admin-sidebar-collapsed .collapse-admin-sidebar .glyphicon-chevron-left {
  display: none;
}

.admin-sidebar-collapsed .collapse-admin-sidebar .glyphicon-chevron-right {
  display: block;
}



.primary-sidebar.admin-sidebar-collapsed .admin-sidebar {
  margin-left: -70px !important;
}

.secondary-sidebar.admin-sidebar-collapsed .admin-sidebar {
  margin-left: -190px !important;
}

.admin-sidebar-collapsed .admin-content {
  margin-left: 0 !important;
}



.admin-container {
  max-width: 100%;
  height: 0;
  padding: 0;
}

.primary-admin-sidebar,
.secondary-admin-sidebar {
  position: fixed;
  float: left;
  height: 100vh;
  margin-top: 80px;
}

.primary-admin-sidebar {
  width: 70px;
  color: #909090;
  background-color: #737373;
}

.primary-admin-sidebar li.active {
  background: #71bd44;
}

.primary-admin-sidebar li.active:hover a:hover + label,
.primary-admin-sidebar li label {
  position: absolute;
  top: -1px;
  left: 70px;
  display: none;
  min-width: 120px;
  height: 71px;
  padding: 27px 10px;
  font-weight: lighter;
  line-height: 14px;
  color: lightgray;
  background: #44464a;
}

.primary-admin-sidebar li a:hover + label {
  display: block;
}

.secondary-admin-sidebar {
  z-index: -1;
  width: 120px;
  margin-left: 70px;
  color: black;
  background-color: #c8e5a7;
}

 flexbox 
.secondary-admin-sidebar ul li {
  padding: 5px 0;
  border-bottom: 1px solid #9dbd7b;
}

.secondary-admin-sidebar ul li a {
  text-decoration: none;
}

.secondary-admin-sidebar ul li:not(.active) a {
  color: #000;
}

.secondary-admin-sidebar label {
  display: block;
  padding: 10px 0;
  margin: 0 10px;
  font-weight: bold;
  border-bottom: 2px solid #9dbd7b;
}

.primary-admin-sidebar ul,
.secondary-admin-sidebar ul {
  padding: 0;
  list-style: none;
}

.secondary-admin-sidebar ul {
  padding: 0 10px;
  margin: 0;
}

.primary-admin-sidebar ul li {
  position: relative;
  width: 70px;
  height: 70px;
  border-bottom: 1px solid #474747;
}

 flexbox 
.primary-admin-sidebar ul li a {
  width: 70px;
  height: 70px;
}

 flex-center 


.primary-admin-sidebar ul li:first-child {
  border-top: 1px solid #3e3e3e;
}



.admin-sidebar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 190px;
}

.admin-content {
  padding: 20px;
  margin-top: 80px;
}

.primary-sidebar .admin-content {
  margin-left: 70px;
}

.secondary-sidebar .admin-content {
  margin-left: 190px;
}*/

/* ####################################      INFO WELL     ################################################ */



.info-well-container  .info-col {
  padding: 0 15px;
}

.info-well-container  .info-col h1 {
  margin-top: 0;
}

.info-well-container  .info-col:first-child {
  padding-left: 30px;
}

.info-well-container  .info-col:last-child {
  padding-right: 30px;
}

.info-group-container {
  margin: 20px 0;
  color: white;

  -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-align-content: space-between;
}

.info-group {
  width: 32%;
  padding: 0 10px;
  border-right: 1px solid #fff;
}

.info-group:first-child {
  padding-left: 0;
}

.info-group:last-child {
  padding: 0 10px;
  border-right: 0;
}

.bg-9db7c7 {
  color: white;
  background-color: #9db7c7;
}
